body {
color : #414141;
background-color : #EEEEEE;
}
h1 {
    font-size: 28px;
}
h2,h3 {
    font-size: 20px;
    text-decoration: underline;
}
h1,h2,h3 {
   font-family: "Playfair Display";
}
.aboutMe {
    font-family: "Helvetica";
    font-size: 12px;
}
img {
    border: 5px solid sienna;
}